<div *ngIf="hss">

  <div class="row mt-5">
    <div class="col-md-4 mx-auto">
   <h2>
     Aptitudes - Conocimientos
  </h2>
   <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" name="title"
        [(ngModel)]="hss.title" required>
    </div>
    <div class="form-group">
        <label for="percent">Porcentaje</label>
        <input type="number" min="0" max="100" class="form-control" id="percent" name="percent"
        [(ngModel)]="hss.percent" required>
    </div>
    <div class="form-group">
        <label for="subtitle">Descripcion</label>
        <input type="text" class="form-control" id="subtitle" name="subtitle"
        [(ngModel)]="hss.subtitle" required>
    </div>
    <button class="btn btn-outline-success btn-block" [disabled]="!f.valid">Actualizar</button>
    <button type="button" class="btn btn-outline-warning" routerLink="/home">Close</button>
</form>
</div>

  </div>

 </div>
