<div *ngFor="let about of abouts">
<div class="bg-white shadow rounded overflow-hidden">
  <div class="px-4 pt-0 pb-4">
    <img src={{about.url_img}} class="cover">
    <div class="up">
      <div class="media align-items-end ">
          <div class="profile mr-3 profile-head">
            <img src={{about.url_foto}} alt="100" width="200" class="rounded mb-2 img-thumbnail">
            <div class="media-body mb-5 text-white">
              <h2 class="mt-0 mb-0 color">{{about.apellido}} {{about.nombre}}</h2>
            </div>
       </div>
    </div>
    <div class="btn-sm btn-outline" align="right" *ngIf="isAdmin">
      <button class="btn btn-outline-warning" routerLink="editabout/{{about.id}}"><i class="bi bi-pencil-fill"></i></button>
    </div>
        <div class="px-4 py-3">
            <h3 class="mb-0">Mis Datos:</h3>
              <div class="p-4 rounded shadow-sm bg-light">
                <p class="font-italic mb-0">Domicilio: {{about.domicilio}}</p>
                <p class="font-italic mb-0">Fecha de Nacimiento: {{about.fecha_nacimiento}}</p>
                <p class="font-italic mb-0">Telefono: {{about.telefono}}</p>
                <p class="font-italic mb-0">Correo: {{about.correo}}</p>
                <p class="font-italic mb-0">Idiomas: {{about.idioma}}</p>
              </div>
        </div>
        <div class="px-4 py-3">
          <h3 class="mb-0">Sobre Mi:</h3>
          <div class="p-4 rounded shadow-sm bg-light">
                <p class="font-italic mb-0">{{about.sobre_mi}}</p>
          </div>
      </div>
    </div>
</div>
</div>
