.profile-head {
  transform: translateY(3rem)
}

.cover {
  background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}


.location {
  text-align: right;
  display: flex;
}

.color{
  color: black;
}

.edit {
  margin-bottom: 10px;
  align-items: right;
}


.up {
  transform: translateY(-3rem)
}
