.profile-head {
  transform: translateY(5rem)
}

.cover {
  background-image: url(https://miro.medium.com/max/560/1*3Ic8Hfm9Oj1VXpvUXNYs_w.png);
  background-size: cover;
  background-repeat: no-repeat
}

body {
  background: #654ea3;
  background: linear-gradient(to right, #e96443, #904e95);
  min-height: 100vh;
  overflow-x: hidden
}
