<div class="bg-white shadow rounded overflow-hidden">
  <div class="btn-sm btn-outline" align="right">
    <app-add-project></app-add-project>
  </div>
<div _ngcontent-mee-c50="" class="px-4 py-3">
  <h5 _ngcontent-mee-c50="" class="mb-0">Projects</h5>
  <div _ngcontent-mee-c50="" class="p-4 rounded shadow-sm bg-light">
    <p _ngcontent-mee-c50="" class="font-italic mb-0">Web Developer</p>
    <p _ngcontent-mee-c50="" class="font-italic mb-0">Lives in New York</p>
    <p _ngcontent-mee-c50="" class="font-italic mb-0">Photographer</p>
  </div>
</div>
</div>
