
<div _ngcontent-mee-c50="" class="px-4 py-3">
    <div _ngcontent-mee-c50="" class="p-4 rounded shadow-sm bg-light">
      <div _ngcontent-mee-c50="" class="table table-white">
        <thead>
          <tr>
            <th scope="col">Nombre de Empresa</th>
            <th scope="col">Fecha de Inicio</th>
            <th scope="col">Fecha de Finalizacion</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Trabajo Actual</th>
            </tr>
        </thead>

        <tbody>
          <tr *ngFor="let experience of experiences">
            <td>{{experience.nom_empresa}}</td>
            <td>{{experience.fecha_inicio}}</td>
            <td>{{experience.fecha_fin}}</td>
            <td>{{experience.descripcion}}</td>
            <td>{{experience.trabajo_actual}}</td>


            <td><button class="btn btn-outline-warning" routerLink="editexperience/{{experience.id}}"><i class="bi bi-pencil-fill"></i></button></td>

            <td><button class="btn btn-outline-danger" (click)="alert()"><i class="bi bi-trash3-fill"></i></button></td>

          </tr>


        </tbody>
      </div>
    </div>
</div>

