<div class="add">
    <h2>Habilidades</h2>
<div class="" *ngIf="isAdmin">
  <a class="btn btn-sm btn-outline-secondary"  routerLink="/home/addhss"><i class="bi bi-file-earmark-plus"></i></a>
</div>
</div>
<div class="add">
  <mat-card class="mat-elevation-z4" *ngFor="let hss of hsss">
    <mat-card-header>
      <mat-card-title>{{hss.title}}</mat-card-title>
    </mat-card-header>

    <mat-card-content class="main-div">
      <div>
      <mat-spinner mode="determinate" [value]= hss.percent></mat-spinner>
      <div style="position:relative; top: -60px; left: 30px;">{{hss.percent}} %</div>
    </div>

    </mat-card-content>
    <mat-card-footer>
      <p class="text">
        {{hss.subtitle}}
      </p>

    <mat-card-actions
    *ngIf="isAdmin"
    >
      <button mat-button routerLink="/home/edithss/{{hss.id}}">Editar</button>
      <button mat-button (click)="alert(hss.id)">Eliminar</button>
    </mat-card-actions>
  </mat-card-footer>
  </mat-card>
</div>
