<div _ngcontent-mee-c50="" class="px-4 py-3">
  <div class="btn-sm btn-outline" align="right">

  </div>
<div>
  <div _ngcontent-mee-c50="" class="">
    <thead>
      <tr>
        <th scope="col">Centro</th>
        <th scope="col">Titulo</th>
        <th scope="col">Año Ingreso</th>
        <th scope="col">Año Egreso</th>
        </tr>
    </thead>

    <tbody>
      <tr *ngFor="let education of educations">
        <td>{{education.centro}}</td>
        <td>{{education.titulo}}</td>
        <td>{{education.anio_ingreso}}</td>
        <td>{{education.anio_egreso}}</td>


        <td><button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#editeducation" routerLink="/editeducation/{{education.id}}">
          <i class="bi bi-pencil-fill"></i>
        </button></td>
        <app-edit-education></app-edit-education>

        <td><button class="btn btn-outline-danger" (click)="borrar(education.id)"><i class="far fa-trash-alt"></i> Eliminar</button></td>

      </tr>


    </tbody>
  </div>
</div>
</div>

<app-edit-education></app-edit-education>
