<div _ngcontent-rdu-c18="" class="card">
  <div _ngcontent-rdu-c18="" class="card-body">
    <div _ngcontent-rdu-c18="" class="row mb-3">
      <div _ngcontent-rdu-c18="" class="col-sm-3">
        <h6 _ngcontent-rdu-c18="" class="mb-0">Full Name</h6>
      </div>
      <div _ngcontent-rdu-c18="" class="col-sm-9 text-secondary">
        <input _ngcontent-rdu-c18="" type="text" value="John Doe" class="form-control">
      </div>
    </div>
    <div _ngcontent-rdu-c18="" class="row mb-3">
      <div _ngcontent-rdu-c18="" class="col-sm-3">
        <h6 _ngcontent-rdu-c18="" class="mb-0">Email</h6>
      </div>
      <div _ngcontent-rdu-c18="" class="col-sm-9 text-secondary">
        <input _ngcontent-rdu-c18="" type="text" value="john@example.com" class="form-control">
      </div>
    </div>
    <div _ngcontent-rdu-c18="" class="row mb-3">
      <div _ngcontent-rdu-c18="" class="col-sm-3">
        <h6 _ngcontent-rdu-c18="" class="mb-0">Phone</h6>
      </div>
      <div _ngcontent-rdu-c18="" class="col-sm-9 text-secondary">
        <input _ngcontent-rdu-c18="" type="text" value="(239) 816-9029" class="form-control">
      </div>
    </div>
    <div _ngcontent-rdu-c18="" class="row mb-3">
      <div _ngcontent-rdu-c18="" class="col-sm-3">
        <h6 _ngcontent-rdu-c18="" class="mb-0">Mobile</h6>
      </div>
      <div _ngcontent-rdu-c18="" class="col-sm-9 text-secondary">
        <input _ngcontent-rdu-c18="" type="text" value="(320) 380-4539" class="form-control">
      </div>
    </div>
    <div _ngcontent-rdu-c18="" class="row mb-3">
      <div _ngcontent-rdu-c18="" class="col-sm-3">
        <h6 _ngcontent-rdu-c18="" class="mb-0">Address</h6>
      </div>
      <div _ngcontent-rdu-c18="" class="col-sm-9 text-secondary">
        <input _ngcontent-rdu-c18="" type="text" value="Bay Area, San Francisco, CA" class="form-control">
      </div>
    </div>
    <div _ngcontent-rdu-c18="" class="row">
      <div _ngcontent-rdu-c18="" class="col-sm-3"></div>
      <div _ngcontent-rdu-c18="" class="col-sm-9 text-secondary">
        <input _ngcontent-rdu-c18="" type="button" value="Save Changes" class="btn btn-primary px-4">
      </div>
    </div>
  </div>
</div>
