<div class="container"><div>
  <app-list-header></app-list-header></div>

  <div>
    <app-list-about></app-list-about>
  </div>
  <br>

  <div class="bg-white shadow rounded overflow-hidden">
    <div _ngcontent-mee-c50="" class="add">
      <h3 _ngcontent-mee-c50="" class="mb-0">Education</h3>
      <div class="derecha">
        <a class="btn btn-sm btn-outline-secondary"  routerLink="/addeducation"><i class="bi bi-file-earmark-plus"></i></a>
      </div>
    </div>
    <app-list-education></app-list-education>
  </div>
  <br>

  <div class="bg-white shadow rounded overflow-hidden">
    <div class="add">
      <h3>Experience</h3>
      <div class="derecha">
        <a class="btn btn-sm btn-outline-secondary"  routerLink="/addexperience"><i class="bi bi-file-earmark-plus"></i></a>
      </div>
    </div>
    <app-list-experience></app-list-experience>
  </div>
  <br>

  <div>
    <app-list-hss></app-list-hss>
  </div>

  <div class="bg-white shadow rounded overflow-hidden">
    <div _ngcontent-mee-c50="" class="add">
      <h3 _ngcontent-mee-c50="" class="mb-0">Projects</h3>
      <div class="derecha">
        <a class="btn btn-sm btn-outline-secondary"  routerLink="/addproject"><i class="bi bi-file-earmark-plus"></i></a>
      </div>
    </div>
    <app-list-project></app-list-project>
  </div>

</div>
