<div class="container"><div>
  <app-list-header></app-list-header></div>

  <div>
    <app-list-about></app-list-about>
  </div>
  <br>

  <div class="bg-white shadow rounded overflow-hidden">
    <div _ngcontent-mee-c50="" class="add">
      <h3 _ngcontent-mee-c50="" class="mb-0">Education</h3>
      <div class="derecha">
        <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#addeducation">
          <i class="bi bi-file-earmark-plus"></i>
        </button>
        <app-add-education></app-add-education>
      </div>
    </div>
    <app-list-education></app-list-education>
  </div>
  <br>

  <div class="bg-white shadow rounded overflow-hidden">
    <div class="add">
      <h3>Experience</h3>
      <div class="derecha">
        <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#addexperience">
          <i class="bi bi-file-earmark-plus"></i>
        </button>

      </div>
    </div>
      <app-add-experience></app-add-experience>

    <app-list-experience></app-list-experience>
  </div>
  <br>

  <div>
    <app-list-hss></app-list-hss>
  </div>

  <div class="bg-white shadow rounded overflow-hidden">
    <div _ngcontent-mee-c50="" class="add">
      <h3 _ngcontent-mee-c50="" class="mb-0">Projects</h3>
      <div class="btn-sm btn-outline derecha">
        <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#addproject">
          <i class="bi bi-file-earmark-plus"></i>
        </button>
        <app-add-project></app-add-project>
      </div>
    </div>
    <app-list-project></app-list-project>
  </div>

</div>
