 <div *ngIf="experience">
  <div class="row mt-5">
    <div class="col-md-4 mx-auto">
      <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                    <div class="form-group">
                        <label for="nom_empresa">Nombre de Empresa</label>
                        <input type="text" class="form-control" id="nom_empresa" name="nom_empresa"
                        [(ngModel)]="experience.nom_empresa" required>
                    </div>
                    <div class="form-group">
                        <label for="fecha_inicio">Fecha de Inicio</label>
                        <input type="text" class="form-control" id="fecha_inicio" name="fecha_inicio"
                        [(ngModel)]="experience.fecha_inicio" required>
                    </div>
                    <div class="form-group">
                        <label for="fecha_fin">Fecha de Finalizacion</label>
                        <input type="text" class="form-control" id="fecha_fin" name="fecha_fin"
                        [(ngModel)]="experience.fecha_fin" required>
                    </div>
                    <div class="form-group">
                        <label for="descripcion">Descripcion</label>
                        <input type="text" class="form-control" id="descripcion" name="descripcion"
                        [(ngModel)]="experience.descripcion" required>
                    </div>
                    <div class="form-group">
                      <label for="trabajo_actual">Trabajo Actual?</label>
                      <input type="text" class="form-control" id="trabajo_actual" name="trabajo_actual"
                      [(ngModel)]="experience.trabajo_actual" required>
                  </div>
        <button class="btn btn-outline-success btn-block" [disabled]="!f.valid">Actualizar</button>
        <button type="button" class="btn btn-secondary" routerLink="/home">Close</button>
      </form>
    </div>
  </div>
</div>
